<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en"
>
<head th:replace="layout/head :: head"></head>

<body>
<nav th:replace="layout/navbar :: navbar"></nav>

<div class="card">
    <h1>Términos y condiciones</h1>

    <p>Estos términos y condiciones rigen el uso de este sitio web. Al utilizar este sitio web, usted acepta estos
        términos y condiciones en su totalidad. Si no está de acuerdo con estos términos y condiciones, no debe utilizar
        este sitio web.</p>

    <h2>Definiciones</h2>

    <ul>

        <li>"Nosotros" o "nuestro" se refiere al propietario del sitio web.</li>

        <li>"Usted" se refiere al usuario de este sitio web.</li>

    </ul>

    <h2>Uso del sitio web</h2>

    <p>Usted puede utilizar este sitio web para fines lícitos únicamente. No puede utilizar este sitio web para fines
        ilegales o prohibidos.</p>

    <p>Usted no puede utilizar este sitio web para cargar o distribuir contenido que sea ilegal, dañino, amenazador,
        abusivo, difamatorio, obsceno, pornográfico, o que viole la privacidad o los derechos de propiedad intelectual
        de cualquier persona.</p>

    <p>Usted no puede utilizar este sitio web para enviar correo electrónico no deseado o spam.</p>

    <p>Usted no puede utilizar este sitio web para interferir con el funcionamiento de este sitio web o de cualquier
        otro sitio web.</p>

    <h2>Derechos de propiedad intelectual</h2>

    <p>Todo el contenido de este sitio web, incluyendo pero no limitado a texto, imágenes, videos, y código, es
        propiedad de nosotros o de nuestros socios. Usted no puede copiar, distribuir, o modificar este contenido sin
        nuestro permiso.</p>

    <h2>Enlaces a otros sitios web</h2>

    <p>Este sitio web puede contener enlaces a otros sitios web. No somos responsables del contenido de estos sitios
        web.</p>

    <h2>Modificaciones de los términos y condiciones</h2>

    <p>Podemos modificar estos términos y condiciones en cualquier momento. Usted está obligado a revisar estos términos
        y condiciones periódicamente para estar al tanto de cualquier cambio.</p>

    <h2>Jurisdicción</h2>

    <p>Estos términos y condiciones se rigen por las leyes de España. Cualquier disputa relacionada con estos términos y
        condiciones se resolverá en los tribunales de España.</p>

</div>
<footer th:replace="layout/footer :: footer"></footer>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
